th {
    text-align: center;
}
#taula {
    text-align: center;
}
.piedepagina {
  height: 15%;
  background: #686868;
  color: white;
  text-align: center;
  font-size: 40px;

   }

html,body {
height: 90%;
}

.navbar {
    margin-bottom: 0;}