.inici {
    text-align: center;
	width: 100%;
	height: 100%;
     background-color: #fff;
     -webkit-animation: random 60s infinite;
     animation: random 60s infinite;
}
@keyframes  random {
    15% { background-color: red; } 
  
    45% { background-color: green; } 

    75% { background-color: white; }  
}

.piedepagina {
  height: 15%;
  background: #686868;
  color: white;
  text-align: center;
  font-size: 40px;

   }

html,body {
height: 90%;
}

.navbar {
	margin-bottom: 0;}